*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url(../images/bg.jfif);
    background-size: contain;
}
.div1{
    background-color: aqua;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    animation-name: change;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    margin-top: -200px;
}
@keyframes change{
    0%{background-color: blue; left: 0%; }
    25%{background-color: blueviolet; left: 250px;  }
    50%{background-color: cadetblue; left: 500px;}
    75%{background-color: black; left: 750px;}
    100%{background-color: aqua; left: 1380px;}
}
.div2{
    background-color: red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    animation-name: change2;
    animation-duration: 3s;
    animation-delay: 3s;
    margin-left: 1380px;
    animation-fill-mode: forwards;
    margin-top: -200px;

}
@keyframes change2{
    0%{background-color: rgb(255, 0, 64); right: 0%; }
    25%{background-color: rgb(125, 43, 226); right : 250px;  }
    50%{background-color: cadetblue; right: 500px;}
    75%{background-color: rgb(0, 0, 0); right:  750px;}
    100%{background-color:red; right: 1380px;}
}
.div33{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    margin-top: 200px;
    margin-left: 5px;
    animation-name: change3;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}
@keyframes change3{
    0%{background-color: rgb(131, 73, 88); left:  0%;  margin-left: 0%;}
    25%{background-color: rgb(23, 0, 52); left:  250px;  margin-left: 250px; }
    50%{background-color: rgb(22, 157, 161); left:  500px; margin-left: 500px;}
    75%{background-color: rgb(146, 37, 37); left:   750px; margin-left:750px ;}
    100%{background-color: rgb(0, 0, 0); left:  1380px; margin-left:1380px ; }
}
.div4{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: coral;
    margin-top: -150px;
    margin-left: 1380px;
    animation-name: change4;
    animation-duration: 3s;
    animation-delay: 9s;
    animation-fill-mode: forwards;
}
@keyframes change4{
    0%{background-color: rgb(131, 73, 88); margin-right: 0%;right: 0%;position: absolute; }
    25%{background-color: rgb(23, 0, 52); margin-right: 250px; right: 250px; position: absolute;}
    50%{background-color: rgb(22, 157, 161); margin-right: 500px;right: 500px; position: absolute;}
    75%{background-color: rgb(146, 37, 37); margin-right: 750px; right: 750px;position: absolute;}
    100%{background-color: coral;position: absolute;right: 1380px; }
}
.div5{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(168, 173, 245);
    margin-top: 100px;
    margin-left: 5px;
    animation-name: change5;
    animation-duration: 3s;
    position: absolute;
    animation-delay: 12s;
    animation-fill-mode: forwards;
}
@keyframes change5{
    0%{background-color: blue; left: 0%; }
    25%{background-color: blueviolet; left: 250px;  }
    50%{background-color: cadetblue; left: 500px;}
    75%{background-color: black; left: 750px;}
    100%{background-color: rgb(168, 173, 245); left: 1380px;}
}
.div6{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:gray;
    margin-top: 100px;
    margin-left: 1380px;
    animation-name: change6;
    animation-duration: 3s;
    position: absolute;
    animation-delay: 15s;
    animation-fill-mode: forwards;
}
@keyframes change6{
    0%{background-color: blue; right: 0; }
    25%{background-color: blueviolet; right: 250px;  }
    50%{background-color: cadetblue; right: 500px;}
    75%{background-color: black; right: 750px;}
    100%{background-color:gray; right: 1380px;}
}
.div7{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: greenyellow;
    position: absolute;
    left: 45%;
    top: 0%;
    animation-name: change7;
    animation-duration: 3s;
    animation-delay: 8s;
    animation-fill-mode: forwards;

}   
@keyframes change7{
    0%{background-color: blue; top: 0%; }
    25%{background-color: blueviolet; top: 100px;  }
    50%{background-color: cadetblue;top: 500px; }
    75%{background-color: black; top: 500px;}
    100%{background-color:greenyellow; top: 480px; }
}
.div8{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: hotpink;
    position: absolute;
    left: 45%;
    bottom:70px;
    animation-name: change8;
    animation-duration: 3s;
    animation-delay: 11s;
    animation-fill-mode: forwards;

}   
@keyframes change8{
    0%{background-color: blue; bottom: 0%; }
    25%{background-color: blueviolet; bottom: 100px;  }
    50%{background-color: cadetblue;bottom: 500px; }
    75%{background-color: black; bottom: 500px;}
    100%{background-color:hotpink; bottom: 550px; }
}